#main {
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
}

#contact-container {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 5vh;
}

#contact-container > a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh 0;
}
