@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --background-color: #fafafa;
  --card-background-color: #ddd;
  --cell-background-color: #ddd;
  --hover-cell-background-color: #bbb;
  --caption-table-background-color: #f16d55;
  --font-color: #4a4444;
  --active-menu-link-color: #000;
  --active-link-color: #de394e;
  --visited-link-color: #6c1000;
  --font-title: "Lato", sans-serif;
  --font-text: "Ubuntu", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--background-color, white);
  font-family: var(--font-text);
  line-height: 1.8;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
}

#logo {
  font-size: 1.2rem;
}

.lato {
  font-family: var(--font-title);
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.v-center {
  vertical-align: middle;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.word-space {
  word-spacing: 0.1rem;
}

.standard-height-margin {
  margin-bottom: 10vh;
}

.first-paragraph {
  margin-bottom: 2vh;
}

.sidenav-background {
  background: linear-gradient(
    315deg,
    rgba(245, 0, 87, 0.33) 0%,
    rgba(245, 0, 87, 1) 100%
  );
}
