#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  top: 16.5vh;
}

#who {
  font-size: 3rem;
  margin-bottom: 5vh;
}

#avatar-container {
  max-width: 100%;
  margin: 0 auto;
}

#avatar {
  border-radius: 2rem;
}

@media only screen and (min-width: 601px) and (max-width: 720px) {
  #main {
    top: 18vh;
  }
}

@media only screen and (min-width: 721px) and (max-width: 993px) {
  #main {
    top: 15vh;
  }
}

@media only screen and (min-width: 994px) and (max-width: 1201px) {
  #main {
    top: 16vh;
  }
}

@media only screen and (min-width: 1202px) and (max-width: 1449px) {
  #main {
    top: 17.5vh;
  }
}

@media only screen and (min-width: 1450px) and (max-width: 1645px) {
  #main {
    top: 15.5vh;
  }
}

@media only screen and (min-width: 1646px) and (max-width: 2000px) {
  #main {
    top: 13.5vh;
  }
}
