.card {
  border: 2px solid var(--border-color, dimgray);
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
}

.card-title {
  border-bottom: 2px solid var(--border-color, dimgray);
  background-color: var(--card-title-background-color, dimgray);
  padding: 2vh 0;
  text-align: center;
}

.card-title-link {
  color: var(--card-title-color, white);
  font-size: 1.5rem;
}

.title-link:hover {
  color: var(--link-color, magenta);
}

.card-basic-info {
  border-bottom: 2px solid var(--border-color, dimgray);
  background-color: var(--card-basic-info-background-color, gray);
  padding: 1vh 0;
}

.card-basic-info > p {
  padding: 0 3vw;
  margin: 1vh 0;
}

.card-info-details > * {
  padding: 0 3vw;
}
