@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  font-size: 16px;
  --background-color: #ffffff;
  --border-color: #404040;
  --font-color: #404040;
  --card-title-background-color: #404040;
  --card-title-color: #ffffff;
  --card-basic-info-background-color: #cfcfcf;
  --title-color: #171718;
  --active-nav-link-color: #171718;
  --not-focused-nav-link-color: #737373;
  --link-color: #da3450;
  --font: "Ubuntu", system-ui, sans-serif;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color, white);
  font-family: var(--font);
  height: 100vh;
}

nav {
  border-bottom: 2px solid var(--border-color, dimgray);
}

nav > ul {
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vh;
}

nav > ul > li {
  font-weight: 400;
  padding: 2vh 2vw;
}

nav > ul > li > a:hover {
  color: var(--active-nav-link-color, black);
}

main {
  line-height: 1.85rem;
}

a {
  color: var(--link-color, magenta);
  text-decoration: none;
}

p {
  color: var(--font-color, dimgray);
  font-weight: 400;
  margin: 3vh 0;
}

footer {
  border-top: 2px solid var(--border-color, dimgray);
}

footer > ul {
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vh;
}

footer > ul > li > a {
  display: flex;
  font-weight: 400;
  padding: 2vh 2vw;
}

footer > ul > li > a:hover {
  color: var(--active-nav-link-color, black);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.nav-current-page {
  color: var(--active-nav-link-color, black);
  font-weight: 600;
  text-decoration: none;
}

.nav-link {
  color: var(--not-focused-nav-link-color, gray);
  text-decoration: none;
}

.footer-link {
  color: var(--not-focused-nav-link-color, black);
  text-decoration: none;
}

.no-decoration {
  list-style-type: none;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 85%;
  }
}

@media screen and (min-width: 600px) {
  :root {
    font-size: 17px;
  }

  .container {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 75%;
  }
}

@media screen and (min-width: 900px) {
  :root {
    font-size: 18px;
  }

  .container {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 50%;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 40%;
  }
}
