ol {
  list-style-type: none;
  margin-bottom: 7vh;
}

.card-title {
  color: var(--card-title-color, white);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  gap: 0 5vw;
}

.grid-item {
  font-size: 5rem;
  margin: 2vh 2vw;
}
